

# jupyter checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# environment
.env
venv/
env/
*.venv

# data files
*.csv
*.zip
*.xlsx
*.xls
*.jsonl
*.nc
*.zarr
.zarr/

data/pyromes/
data/Terrestrial Ecoregions of the World/
data/seasfire_pyromes_ecoregions.zarr/

# python cache
__pycache__/
*.pyc